---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions"

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	
	</head>
	<body>
		<slot />
		<ViewTransitions fallback="none" />
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	li:hover svg {
		color: #fff;
	}
	li:hover a {
		color: #fff;
	}
	a {
        text-decoration: none;
        color: rgb(161 161 170 );
        font-weight: 500;
        font-size: 17px;
        font-family: 'Poppins', sans-serif; 
    }  
	svg {
    color: rgb(161 161 170 );
    margin: 0 20px 0 35px;
	}  
	.liListsongs {
		border-radius: 10px;
		width: 95%;
		margin: 0 auto;
		list-style: none;
	}
	.liListsongs:hover {
        background-color: rgb(39 39 42);
    }
	article:hover {
        background-color: rgb(39 39 42) !important;
    }
	::-webkit-scrollbar {
    width: 5px;
    z-index: 1000; /* Asegúrate de que tenga un z-index alto */
}

::-webkit-scrollbar-track {
	/* background-color: rgb(24 24 27); */
	border-radius: 10px;
	height: 100%;
    z-index: 1000; /* Asegúrate de que tenga un z-index alto */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color del scrollbar */
    border-radius: 0px 0px 10px 10px;
    z-index: 1000; /* Asegúrate de que tenga un z-index alto */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del scrollbar al pasar el mouse */
}
	.svg-special {
        margin: 0 !important;
    }
	
	.slide > img {
		width: 100%;
		height: 100%;
	}

</style>

