---

import MailJs2 from "../React/Mailjs2"



---

<section>
   <!-- esperar dos segundos y renderizar el mailjs -->
    
</section>

<style>
    section {
        border: 1px solid white;
        width: 100%;
        height: 200px;
    }
    section > div {
        color: white;
    }
</style>