---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<a href={title}
 >
<article>
        <div class="pictureArticle">
            <img src={`./${title}.jpg`} alt="imagen de articulo"/>
        </div>
        <div class="infoArticle">
            <h4
            transition:name="textColor"
            >{title}</h4>
            <p>Alexis Venegas</p>
        </div>

    </article>
</a>

<style>
  
    article {
        width: 176px;
        height: 236px;
        border-radius: 0.375rem;
        background-color: rgb(113 113 122 / 0.3);
        padding: 10px;
        margin-left: 20px;
        cursor: pointer;
		transition: all 0.3s !important;
    }
    .pictureArticle {
        width: 100%;
        height: 70%;
    }
    .pictureArticle > img {
        width: 100%;
        height: 100%;
        border-radius: 0.375rem;
    }
    .infoArticle {
      width: 100%;
      margin-top: 10px;
    }
    .infoArticle > h4 {
        color: white;
        font-size: 1rem;
        line-height: 1.25rem;

    }
    .infoArticle > p {
        color:rgb(156 163 175);
        font-size: 0.6rem;
        line-height: 1rem;
    }
    

</style>

