---
import Biblioteca from '../Icons/Biblioteca.astro';

---


<ul>
    <li>    
        <Biblioteca />
        <a href="#">Biblioteca</a>
    </li>
</ul>


<style>
    ul {
        list-style: none;   
        width: 100%;
        cursor: pointer;    
        height: 10%;   
        border: 1px solid #f1f1f1;
    }
    li {
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 50%;
    }
  
</style>