---
import Biblioteca from '../Icons/Biblioteca.astro';

---


<ul>
    <li>    
        <Biblioteca />
        <a href="#" id="aBiblio">Biblioteca</a>
    </li>
</ul>


<style>
    ul {
        list-style: none;   
        width: 100%;
        cursor: pointer;    
        height: 7%;
        margin-top: 15px;
    }
    li {
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        height: 100%;
    }
    @media (max-width: 768px) {
        li {
            width: auto !important;
        }
    }
  
</style>