---
import Slider from "./Slider.astro";

---

<section class="container-Nasa">
    <div class="first-container-info">
        <div class="Article-info">
            <p><span>FireGuardian</span> es una aplicación innovadora diseñada para mejorar las capacidades de los bomberos y las autoridades en la prevención y detección rápida de incendios forestales. Nuestra misión es proporcionar un conjunto de herramientas integral que empodere a quienes están en primera línea de la gestión de incendios.
            Propuesta en un Hackaton de la NASA, FireGuardian fue seleccionada como una de la segunda mejor propuesta de la competencia. te invito a conocer más sobre este proyecto dando click en el botón de abajo.
            </p>
            <button class="play-button" lick>
                <svg class="svg-special" role="img" height="16" width="16" aria-hidden="true" viewBox="0 0 16 16"><path d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"></path></svg>
            </button>
        </div>
        
        <div class="information">  
            <Slider />
        </div>
      
    
    </div>
</section>

<style>
.container-Nasa {
    border: 1px solid red;
    width: 100%;    
    height: auto;
}
.first-container-info {
    border: 1px solid white;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.Article-info {
    width: 574px;
    height: 190px;
    background: hsla(0, 0%, 100%, .07);
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1.5rem;
    flex-direction: column;
}
.Article-info > p > span {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif; 
    color: Red;
}
.Article-info > p {
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif; 
    color: #a7a7a7;
}
.information {
    width: 265px;
    height: 593px;
    background: hsla(0, 0%, 100%, .07);
    border-radius: 9%;
}   
.information > img {
    width: 100%;
    height: 100%;
    border-radius: 10%;

}
.play-button {
    background-color: rgb(34 197 94);
    border: 0px solid transparent;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    /* width: 50px; */
    height: 50px;
    margin-left: 25px;
    transition: 0.5s;
    z-index: 2;
    }
</style>

<script >
   const playButton = document.querySelector('.Article-info');
    playButton.addEventListener('click', () => {
        console.log("hola")
        location.reload();
    });
  </script>