.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 16px; /* Opcional: bordes redondeados */
    box-shadow: rgba(88, 88, 88, 0.3) 0px 19px 38px, rgb(0, 0, 0) 0px 15px 12px;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    min-width: 100%;
    display: none; /* Ocultar todas las imágenes por defecto */
}

.slide.active {
    display: block;
}

.slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: 50% 50%;
    transform: translate(50% 50%);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.form-container {
    width: 100%;

}
.form-container > form {
    width: 100%;
    height: 60px;
    display: flex;
}
.form-data > div:first-child {
  width: 5%;
  height: 100%;
  color: rgb(161 161 170 );
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: 'Circular Spotify Text', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-data > div:nth-child(2){
  width: 80%;
  height: 100%;
  color: rgb(161 161 170 );
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: 'Circular Spotify Text', 'Arial', sans-serif;
  display: flex;
  align-items: center;
}

.form-data > div:nth-child(4){
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(161 161 170 );
}

.form-data > div:nth-child(5){
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(161 161 170 );
}

.pictureStyle {
    width: 47px;
    height: 47px;
    margin: 0 20px 0 0;
    border-radius: 2px;
    transition: 2s;
}
.pictureStyle > img {
    transition: 2s;

    width: 47px;
    height: 47px;
    border-radius: 2px;
}

.pictureStyle > p {
    transition: 2s;
    font-size: 47px;
    text-align: center;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    background-color: white;
    padding: 13px 0 0 0;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.inputStyle {
    height: 47px;
    width: 300px;
    font-size: 20px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}
.textareaStyle{
    height: 47px;
    width: 100%;
    font-size: 20px;
    padding: 10px 0 0 4px ;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    resize:  none;
}
.svgEspecial {
    margin: 0 !important;
    width: 47px;
    height: 47px;
}
.buttonStyle {
    height: 47px;
    width: 100%;
    font-size: 20px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;

}
.error {
    border-bottom: 1px solid red;
    outline: none !important;
    height: 47px;
    width: 300px;
    font-size: 20px;
    background: transparent;
    color: white;
    outline: none;
}
.go2072408551 {
    position: relative !important;
    bottom: 150px !important;
    right: 50px !important
}